// Widescreens
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr); // 4 across on big big screens
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr); // 4 across on big screens
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    padding: 25vh 0;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 4rem;
      text-align: center;
    }
    .sm-heading {
      text-align: center;
    }
    .text-secondary {
      font-size: 4rem;
      text-align: center;
    }

    .icons {
      text-align: center;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    text-align: center;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    justify-content: start;
    text-align: center;
    padding: 0;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr); // 2 across on med screens
  }

  // Contacts
  .boxes {
    border: 0px;
    // align-items: center;
    .details {
      // padding: ;
      border: 0px #fff solid; //this is dumb
      font-size: 1.5rem;
    }
    .text-secondary {
      font-size: 1.5rem;
    }
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr; // 1 across on small screens
    img {
      border: 0px;
    }
  }
}
